/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wdth,wght@0,87.5,400;0,87.5,500;0,87.5,600;0,87.5,700;0,87.5,800;0,87.5,900;0,100,400;0,100,500;0,100,600;0,100,700;0,100,800;0,100,900;1,87.5,400;1,87.5,500;1,87.5,600;1,87.5,700;1,87.5,800;1,87.5,900;1,100,400;1,100,500;1,100,600;1,100,700;1,100,800;1,100,900&family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&family=Spline+Sans+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Spline+Sans:wght@400;500;600;700&display=swap');
  
$font-family-sans-serif: 'Asap', 'Asap Condensed', 'Spline Sans', 'Tahoma', 'Arial', sans-serif;
$font-family-serif: 'Literata', 'Bodoni MT', 'Georgia', 'Times New Roman', Times, serif;
$presentation-heading-color: #28A87D;
$presentation-heading-font-weight: 800;
$link-color: #28a87d;
$link-color-dark: #79dfbd;
$link-color-visited: #28A87D;
$link-color-hover: #28A87D;
$presentation-selection-background-color: #C2D8D0;
$presentation-title-slide-text-align: "left";
$presentation-block-margin: .0375rem;

/*-- scss:rules --*/

h1, h2, h3, span, body, .navbar-title {
  font-family: 'Asap', 'Asap Condensed', 'Spline Sans', 'Tahoma', 'Arial', sans-serif;
  font-feature-settings: "ss01" 1;
  font-stretch: 87.5%;
}

h1  {
  font-weight: 600;
}

.navbar-title {
  font-weight: 800;
}

code, .code {
  font-family: 'Spline Sans Mono', 'Consolas', monospace;
  font-feature-settings: "ss01" 1;
}

.question {
  border-left: 3px solid #28a87d;
  padding: 0.5rem 0.5rem 0.2rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  background: #d9f6ec;
}

.recap {
  border-left: 3px solid #663399;
  padding: 0.5rem 0.5rem 0.2rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #e6d9f2;
}

.navbar {
  padding-top: 1px;
  padding-bottom: 1px;
}

.navbar-logo {
  max-height: 60px;
}
