/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wdth,wght@0,87.5,400;0,87.5,500;0,87.5,600;0,87.5,700;0,87.5,800;0,87.5,900;0,100,400;0,100,500;0,100,600;0,100,700;0,100,800;0,100,900;1,87.5,400;1,87.5,500;1,87.5,600;1,87.5,700;1,87.5,800;1,87.5,900;1,100,400;1,100,500;1,100,600;1,100,700;1,100,800;1,100,900&family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&family=Spline+Sans+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Spline+Sans:wght@400;500;600;700&display=swap');

$font-family-sans-serif: 'Asap', 'Asap Condensed', 'Spline Sans', 'Tahoma', 'Arial', sans-serif;
$font-family-serif: 'Literata', 'Bodoni MT', 'Bodoni 72', 'Georgia', 'Times', serif;
$presentation-heading-color: #28A87D;
$presentation-heading-font-weight: 800;
$link-color: #28a87d;
$link-color-dark: #79dfbd;
$link-color-visited: #28A87D;
$link-color-hover: #28A87D;
$presentation-selection-background-color: #C2D8D0;
$presentation-title-slide-text-align: "left";
$presentation-block-margin: .0375rem;

/*-- scss:rules --*/

h1.title {
  font-family: 'Literata', 'Bodoni MT', 'Bodoni 72', 'Georgia', 'Times', serif;
  font-size: 1.8em;
  font-style: italic;
  font-weight: 800;
  color: #28A87D;
  line-height: 1.07;
  text-align: center;
  margin-bottom: .4em;
}

p.subtitle {
  color: #606060;
  font-weight: 600;
  font-style: italic;
  line-height: .97;
  text-align: center;
}

.quarto-title-author {
  font-size: .8em;
  font-weight: 600;
  color: #606060;
  font-style: italic;
  margin-top: 1.5em;
}

.backgrounds {
  background-color: #f8f8f8
}

.backgrounds .title-slide {
  background-color: #c9f2e4
}

h1, h2, h3, h4, body {
  font-family: 'Asap', 'Asap Condensed', 'Spline Sans', 'Tahoma', 'Arial', sans-serif;
  font-feature-settings: "ss01" 1;
  font-stretch: 87.5%;
}

.title-slide h1 {
  font-family: 'Literata', 'Bodoni MT', 'Bodoni 72', 'Georgia', 'Times', serif;
  font-size: 1.55em;
  font-style: italic;
  text-align: center;
}

.reveal h2 {
  font-size: 1.4em;
  margin-bottom: 2.8px;
}

h2>code {
  font-size: .95em; 
  margin-bottom: 2.8px;
}

.reveal h3 {
  font-size: 1em;
  margin-bottom: 2.8px;
  font-weight: bold;
}

.reveal h4 {
  font-size: 1em;
  margin-bottom: 2.8px;
  font-weight: bold;
  color: #606060;
}

.reveal h5 {
  font-size: .8em;
  margin-bottom: 2.8px;
  font-weight: bold;
  color: #606060;
}

.reveal p {
  font-size: .75em;
  margin-top: 8px;
  margin-bottom: 16px;
}

.reveal table {
  font-size: .75em;
  font-family: 'Spline Sans Mono', 'Consolas', monospace;
  font-feature-settings: "ss01" 1;
}


.lightable-minimal.lightable-hover tbody tr:hover { 
  background-color: #28a87d !important;
  color: #ffffff;
}

.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption  {
  font-size: .4em;
  color: #606060;
  text-align: center;
  margin-top: 1;
}

details {
  margin-bottom: 5px;
}

details>summary {
  font-family: 'Spline Sans Mono', 'Consolas', monospace;
  font-feature-settings: "ss01" 1;
  font-size: 1.25rem;
  color: #a0a0a0;
}

code>a, code>span {
  font-family: 'Spline Sans Mono', 'Consolas', monospace;
  font-feature-settings: "ss01" 1;
  font-size: 1.1rem;
}

.panel-tabset li>a {
  color: #a0a0a0;
  font-size: .6em;
  font-weight: bold;
}

.cell {
  margin-bottom: 12px;
}

.footer p {
  font-family: 'Spline Sans Mono', 'Consolas', monospace;
  font-feature-settings: "ss01" 1;
  font-size: .95rem;
  color: #606060;
}

a:link,a:visited {
  color: #28a87d;
}
a:hov {
  color: #79dfbd;
}

.small {
  font-size: .75rem;
}

.reveal .slide-logo {
  max-height: 5rem !important;
  padding-bottom: 8px !important;
}

.reveal li {
  font-size: 2.1rem;
}

.reveal li li, li li li {
  font-size: 1.75rem;
}

.reveal pre {
  height: 98.1%
}

.reveal pre > code {
  font-size: .75em;
}

.reveal .slide .question {
  border-left: 3px solid #28a87d;
  padding: 0.5rem 0.5rem 0.2rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  background: #d9f6ec;
}

.reveal .slide .poll {
  border-left: 3px solid #FFD166;
  padding: 0.5rem 0.5rem 0.2rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  background: #FFEDC2;
}

.reveal .slide .recap {
  border-left: 3px solid #663399;
  padding: 0.5rem 0.5rem 0.2rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #e6d9f2;
}

.simple-highlight-ylw {
 background-color: #FFD166;
 padding: 0.1em 0.2em;
 font-weight: bold;
}

.simple-highlight-grn {
 background-color: #79dfbd;
 padding: 0.1em 0.2em;
 font-weight: bold;
}

.circle-highlight {
  position: relative;
}

.circle-highlight:before {
  content: "";
  z-index: -1;
  left: -0.4em;
  top: -0.15em;
  border-width: 2.7px;
  border-style: solid;
  border-color: #28a87d;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.65;
  border-radius: 75%;
  padding: 0.1em 0.25em;
}

.circle-highlight:after {
  content: "";
  z-index: -1;
  left: -0.6em;
  top: 0.04em;
  padding: 0.05em 0.29em;
  border-width: 2.7px;
  border-style: solid;
  border-color: #28a87d;
  border-left-color: transparent;
  border-top-color: transparent;
  position:absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.65;
  border-radius: 80%;
}

.reveal .slide body::-webkit-scrollbar {
  display: none;
}

.hscroll {
  overflow-x: auto;
  white-space: nowrap;
}